* {
    font-family: 'Raleway', sans-serif;
   
  }
  .container-fluid {
    width: 100% !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #000F15;
}
  .parallax { 
    /* The image used */
    background-image: url('/assets/rocket.png');
    /* Set a specific height */
    height: 100% !important; 
    
  
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed!important;
    overflow:hidden;
  }
  .show {
      font-display: bold;
      font-weight: 300;
      color:white;
      float: right;
      padding-top: 24rem;
      padding-right: 12rem;
  }
@media (max-width:1024px) {
  .show {
    padding:0;
    margin:0;
    width:100%;
    text-align:right;
  }
  h1 {
    padding-top: 55%;
    padding-right: 5%;
    font-size: 3rem;
  }
}
  @media (max-width: 790px){
    .container-fluid {
      height: 105vh !important;
    }
    .show {
      padding:0;
      margin:0;
      width:100%;
      text-align:right;
    }
    
    h1{
      padding-top: 55%;
      padding-right: 5%;
      font-size:2rem;
    }
  }
  @media (max-width: 600px) {
    .show {
      margin: 0;
      padding: 0;
      height: 100%;
      width:100%;
      text-align:right;
    }
    h1{
      padding-top: 73%;
      padding-right: 5%; 
      width:100%;
      font-size: 1.2rem !important;
    }
  }