* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
  }
  .container-fluid {
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
}
  .parallax { 
    /* The image used */
    background-image: url('/assets/rocket.png');
    /* Set a specific height */
    height: 100%; 
    width:100% !important;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .show {
      font-display: bold;
      font-weight: 300;
      color:white;
      float: right;
      padding-top: 18rem;
  }
  .container {
    width: 90rem;
}
  @media (max-width: 790px) {
    .container-fluid {
      height: 100vh !important;
    }
    .parallax {
      width: 100% !important;
      background-attachment: fixed;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }
    .show {
      padding-top: 55%;
      font-size: .9rem;
    }
  }
  @media (max-width: 414px) {
    .container-fluid{
      height: 100% !important;
    }
    .parallax{
      background-image: url('/assets/rocket.png');
      height: 100% !important;
      width: 50%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    }
    .container {
      width: 48%;
      float: right;
      padding-top: 45%;
    }
    h1{
      font-size: 1.4rem !important;
    }
  }